<!-- Basic Cart Page -->
<h1>Your Cart</h1>

<!-- Check if the cart is empty -->
{% if cart.item_count == 0 %}
  <p>Your cart is currently empty.</p>
  <a href="/" class="btn">Continue Shopping</a>

{% else %}
<div class="cart-container">
  <div class="cart-item-details-wrapper">
    <div class="cart-heading">
      <span>Product</span>
      <div class="cart-heading-right-section">
        <span>Price</span>
        <span>Quantity</span>
        <span>Total</span>
      </div>
    </div>
    <div class="cart-data-list">

      {% for item in cart.items %}

        <div class="cart-data-wrapper">

        <div class="cart-product">
          <img
            class="cart-product-image"
            src="{{ item.product.featured_image | image_url }}"
            alt=""
            height="80"
            width="80"
          >
          <div class="cart-item-title-and-vender">
            <span class="cart-product-title">{{ item.product.title }}</span>
            <span>{{ item.product.vendor }}</span>
          </div>
        </div>


        <div class="cart-data-right-section">
          <div class="cart-item-price">
            <span class="cart-product-price">{{ item.product.price |  money }}</span>
          </div>
          <form action="/cart/change" method="post" class="cart-item-quantity">
            <button type="button" class="quantity-btn" id="decrease-btn">
              {% render 'minus-icon' %}
            </button>
            <input type="hidden" name="id" value="{{ item.key }}">
            <input min="1" type="hidden" id="quantity" name="quantity" value="{{ item.quantity }}" readonly>
            <span id="product-quantity-value">{{ item.quantity }}</span>
            <button type="button" class="quantity-btn" id="increase-btn">
              {% render 'plus-icon' %}
            </button>
          </form>
        <div class="cart-item-line-price-and-action-button">
          <div class="cart-item-total">
            {{ item.line_price |  money }}
          </div>
          <form action="/cart/change" method="post">
            <input type="hidden" name="id" value="{{ item.key }}">
            <button type="submit" name="quantity" value="0" class="cart-remove-item">
                {% render 'close-icon' %}
            </button>
          </form>
        </div>
        </div>

        </div>

      {% endfor %}
    </div>
  </div>

  <div class="cart-order-summary-wrapper">
    <h2 class="cart-summary-heading">Order Summary</h2>
    <div class="cart-subtotal-wrapper">
      <span>Sub Total</span>
      <span>{{ cart.items_subtotal_price |  money }}</span>
    </div>
    <div class="cart-total-wrapper">
      <span>TOTAL</span>
      <span>{{ cart.total_price |  money }}</span>
    </div>
    <div class="cart-checkout">
      <a href="/checkout" class="btn">Proceed to Checkout</a>
      <a href="/">Continue Shopping</a>
    </div>
  </div>
  </div>
{% endif %}
